# Local env files
node_modules/
npm-debug.log
.env
.env.*
!.env.example

# Nuxt dev/build outputs
frontend/.output
frontend/.data
frontend/.nuxt
frontend/.nitro
frontend/.cache
frontend/dist

# Prisma
backend/prisma/dev.db
backend/prisma/migrations/

# VSCode
.vscode/

# Docker
**/.DS_Store